
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    #titleMain {
        font-size: 20px;
    }
</style>
@section header{
    <div id="titleMain">
        <i class="fa fa-home"></i>&nbsp;Trang Chủ
    </div>
}